body{
    font-family: 'Karla';
}

/*  ////////////////
///////Font  /////////
///////////////////////////

font-size 10px = 0.625rem
font-size 16px = 1rem
font-size 26px = 1.625rem
font-size 42px = 2.625rem


*/
.font-6
{
    font-size:0.375rem;
}
.font-10
{
    font-size:0.625rem;
}
.font-12
{
    font-size:0.75rem;
}
.font-16
{
    font-size:1rem;
}
.font-20
{
    font-size:1.25rem;
}
.font-26
{
    font-size:1.625rem;
}
.font-36
{
    font-size:2.25rem;
}
.font-42
{
    font-size:2.625rem;
}

/*  ////////////////
///////End Font  /////////
///////////////////////////
*/



/*  ////////////////
/////// Size  /////////
///////////////////////////
*/
.size-16
{
    width:1rem;
    height:1rem;
}
.size-20
{
    width:1.25rem;
    height:1.25rem;
}
.size-50
{
    width:3.125rem;
    height:3.125rem;
}
.size-100
{
    width:6.25rem;
    height:6.25rem;
}
.size-200
{
    width:12.5rem;
    height:12.5rem;
}


/*  ////////////////
///////End Size  /////////
///////////////////////////
*/


/*  ////////////////
///////Color  /////////
///////////////////////////
*/
.aktif
{
    opacity: 1;
    position:relative;
}
.dark-mode .aktif::before
{
    content:'';
    background-color: #2D8DFD;
    width:2.3%;
    height:60%;
    position:absolute;
    left:0;
    top:20%;
}
.dark-mode .aktif::after
{
    content:'';
    background-color: #ffffff10;
    width:100%;
    height:60%;
    position:absolute;
    left:0;
    top:20%;
    z-index:-1;
}
.dark-mode .aktif:hover::after
{
    background-color: #ffffff06;
}
.color-none-bg
{
    background-color: transparent;
}
.dark-mode .color-bg
{
    background-color: #0B0F24;
}
.dark-mode .color-content
{
    background-color: #181C2F !important;
}
.dark-mode .color-content-sidebar
{
    background-color: #181C2F;
}
.dark-mode .color-font
{
    color:#0B0F24;   
}
.dark-mode .color-blue-bg
{
    background-color:#2D8DFD;
}
.dark-mode .color-blue-fill
{
   fill:#2D8DFD !important;
}
.dark-mode .color-blue-font
{
    color:#2D8DFD !important;
}
.dark-mode .color-green-bg
{
    background-color:#15CABC;
}
.dark-mode .color-green-fill
{
   fill:#15CABC !important;
}
.dark-mode .color-green-font
{
    color:#15CABC !important;
}
.dark-mode .color-red-bg
{
    background-color:#FC2E7E;
}
.dark-mode .color-red-fill
{
   fill:#FC2E7E !important;
}
.dark-mode .color-red-font
{
    color:#FC2E7E !important;
}
.dark-mode .color-yellow-bg
{
   background-color:#fde52d !important;
}
.dark-mode .color-yellow-fill
{
   fill:#fde52d !important;
}
.dark-mode .color-gray-bg
{
    background-color: #BFC0C2;
}
.dark-mode .color-gray-font
{
    color: #BFC0C2 !important;
}
.dark-mode .link-not-active
{
    color:#BFC0C2;
}
.color-light-font
{
    color:white;
}
.dark-mode .color-dark-font
{
    color:#181C2F !important;
}
.dark-mode .color-footer-bg
{
    background-color:#2D8DFD;
}
.badge 
{
    margin-left: 3px;
}

.btn-dark-blue
{
    padding:0.2rem 1.5rem 0.2rem 1.5rem;
    background-color:#2D8DFD;
    color:white;
    border-radius:1rem;
}
.dark-mode .color-content-font
{
    color:#ffffff ;
}
.dark-mode .color-content-font:link
{
    color:#ffffff ;
}
.btn-dark-blue:hover
{
    text-decoration:none;
    background-color:rgba(0, 0, 0, 0);
    box-shadow: #2D8DFD 0px 0px 5px 0px;
    color:#2D8DFD;
}
/*  ////////////////
///////End Color Dark /////////
///////////////////////////
*/



/*  ////////////////
///////Color Light  /////////
///////////////////////////
*/
.light-mode .aktif
{
    color:white !important;
}
.light-mode .aktif::before
{
    content:'';
    background-color: #ffffff;
    width:2.3%;
    height:60%;
    position:absolute;
    left:0;
    top:20%;
}
.light-mode .aktif::after
{
    content:'';
    background-color: #ffffff10;
    width:100%;
    height:60%;
    position:absolute;
    left:0;
    top:20%;
    z-index:-1;
}
.light-mode .aktif:hover::after
{
    background-color: #ffffff06;
}

.color-none-bg
{
    background-color: transparent;
}
.light-mode .color-bg
{
    background-color: #EFF2F9;
}
.light-mode .color-content
{
    background-color: #ffffff;
}
.light-mode .color-content-sidebar
{
    background-color: #4E73DF;
}
.light-mode .color-font
{
    color:#0B0F24;   
}
.light-mode .color-blue-bg
{
    background-color:#4E73DF;
}
.light-mode .color-blue-fill
{
   fill:#4E73DF !important;
}
.light-mode .color-blue-font
{
    color:#4E73DF !important;
}
.light-mode .color-green-bg
{
    background-color:#1CC88A;
}
.light-mode .color-green-fill
{
   fill:#1CC88A !important;
}
.light-mode .color-green-font
{
    color:#1CC88A !important;
}
.light-mode .color-red-bg
{
    background-color:#E74A3B;
}
.light-mode .color-red-fill
{
   fill:#E74A3B !important;
}
.light-mode .color-red-font
{
    color:#E74A3B !important;
}
.light-mode .color-yellow-fill
{
   fill:#e7e13b !important;
}
.light-mode .color-yellow-bg
{
   background-color:#e7e13b !important;
}
.light-mode .color-gray-bg
{
    background-color:#BFC0C2;
}
.light-mode .color-gray-font
{
    color:#BFC0C2 !important;
}
.light-mode .link-not-active
{
    color:#BFC0C2;
}
.light-mode .color-content-font
{
    color:#303132;
}
.light-mode .color-dark-font
{
    color:#181C2F !important;
}
.light-mode .btn-dark-blue
{
    padding:0.2rem 1.5rem 0.2rem 1.5rem;
    background-color:#4E73DF;
    color:white;
    border-radius:1rem;
}
.light-mode .color-footer-bg
{
    background-color:#303132;
}

.light-mode .btn-dark-blue:hover
{
    text-decoration:none;
    background-color:rgba(0, 0, 0, 0);
    box-shadow: #4E73DF 0px 0px 5px 0px;
    color:#4E73DF;
}
/*  ////////////////
///////End Color Light  /////////
///////////////////////////
*/





/*  ////////////////
/////// Button Dark  /////////
///////////////////////////
*/
.bt-none
{
    background:none;
    border:none;
}
.dark-mode .btn-blue
{
    border: 2px transparent solid;
    color:white ;
    background-color: #2D8DFD;
}
.dark-mode .btn-blue-opt
{
    border: 2px transparent solid;
    color:white ;
    background-color: #2D8DFD;
}
.dark-mode .btn-outline-blue
{
    border: 2px #2D8DFD solid;
    color: #2D8DFD;
    background-color: transparent;
}
.dark-mode .btn-red
{
    border: 2px transparent solid;
    color:white ;
    background-color: #FC2E7E;
}
.dark-mode .btn-outline-red
{
    border: 2px  #FC2E7E solid;
    color:  #FC2E7E;
    background-color: transparent;
}
.dark-mode .btn-green
{
    border: 2px transparent solid;
    color:white ;
    background-color: #15CABC;
}
.dark-mode .btn-outline-green
{
    border: 2px  #15CABC solid;
    color:  #15CABC;
    background-color: transparent;
}

.dark-mode .btn-blue:hover
{
    border: 2px #2D8DFD solid;
    color: #2D8DFD;
    background-color: transparent;
}
.dark-mode .btn-blue-opt:hover
{
   border: 2px transparent solid;
    color:white ;
    background-color: #2281ee;
}
.dark-mode .btn-outline-blue:hover
{
    color: white;
    background-color:  #2D8DFD;
}
.dark-mode .btn-green:hover
{
    border: 2px #15CABC solid;
    color: #15CABC;
    background-color: transparent;
}
.dark-mode .btn-outline-green:hover
{
    color: white;
    background-color:  #15CABC;
}
.dark-mode .btn-red:hover
{
    border: 2px #FC2E7E solid;
    color: #FC2E7E;
    background-color: transparent;
}
.dark-mode .btn-outline-red:hover
{
    color: white;
    background-color:  #FC2E7E;
}

/*  ////////////////
/////// End Button Dark  /////////
///////////////////////////
*/



/*  ////////////////
/////// Button Light  /////////
///////////////////////////
*/
.bt-none
{
    background:none;
    border:none;
}
.light-mode .btn-blue
{
    border: 2px transparent solid;
    color:white ;
    background-color:#4E73DF;
}
.light-mode .btn-blue-opt
{
    border: 2px transparent solid;
    color:white ;
    background-color:#4E73DF;
}
.light-mode .btn-outline-blue
{
    border: 2px#4E73DF solid;
    color:#4E73DF;
    background-color: transparent;
}
.light-mode .btn-red
{
    border: 2px transparent solid;
    color:white ;
    background-color: #E74A3B;
}
.light-mode .btn-outline-red
{
    border: 2px  #E74A3B solid;
    color:  #E74A3B;
    background-color: transparent;
}
.light-mode .btn-green
{
    border: 2px transparent solid;
    color:white ;
    background-color: #1CC88A;
}
.light-mode .btn-outline-green
{
    border: 2px  #1CC88A solid;
    color:  #1CC88A;
    background-color: transparent;
}

.light-mode .btn-blue:hover
{
    border: 2px #4E73DF solid;
    color: #4E73DF;
    background-color: transparent;
}
.light-mode .btn-blue-opt:hover
{
   border: 2px transparent solid;
    color:white ;
    background-color: #4E73DF;
}
.light-mode .btn-outline-blue:hover
{
    color: white;
    background-color:  #4E73DF;
}
.light-mode .btn-green:hover
{
    border: 2px #1CC88A solid;
    color: #1CC88A;
    background-color: transparent;
}
.light-mode .btn-outline-green:hover
{
    color: white;
    background-color:  #1CC88A;
}
.light-mode .btn-red:hover
{
    border: 2px #E74A3B solid;
    color: #E74A3B;
    background-color: transparent;
}
.light-mode .btn-outline-red:hover
{
    color: white;
    background-color:  #E74A3B;
}

/*  ////////////////
/////// End Button Light  /////////
///////////////////////////
*/






/*  ////////////////
/////// Border Dark  /////////
///////////////////////////
*/
.border-none
{
    border:none;
}
.border-none-top
{
    border-top:transparent 1px solid !important;
}
.dark-mode .border-green-bold
{
    border:10px #15CABC solid !important;
}
.dark-mode .border-red-bold
{
    border:10px #FC2E7E solid !important;
}
.dark-mode .border-blue-3
{
    border:3px #2D8DFD solid !important;
}
.dark-mode .border-green-3
{
    border:3px #15CABC solid !important;
}
.dark-mode .border-red-3
{
    border:3px #FC2E7E solid !important;
}
.dark-mode .border-blue-2
{
    border:2px #2D8DFD solid !important;
}
.dark-mode .border-green-2
{
    border:2px #15CABC solid !important;
}
.dark-mode .border-red-2
{
    border:2px #FC2E7E solid !important;
}
.dark-mode .border-gray-3
{
    border:3px #BFC0C2 solid !important;
}
.dark-mode .border-gray-2
{
    border:2px #BFC0C2 solid !important;
}
.dark-mode .border-gray-1
{
    border:1px #BFC0C2 solid !important;
}

.dark-mode .border-green-1
{
    border:3px #15CABC solid !important;
}
.dark-mode .border-blue-1
{
    border:2px #2D8DFD solid !important;
}
.dark-mode .border-red-1
{
    border:1px #FC2E7E solid !important;
}

/*  ////////////////
/////// End Border Dark  /////////
///////////////////////////
*/


/*  ////////////////
/////// Border Light /////////
///////////////////////////
*/
.light-mode .border-green-bold
{
    border:10px #1CC88A solid !important;
}
.light-mode .border-red-bold
{
    border:10px #E74A3B solid !important;
}
.light-mode .border-blue-3
{
    border:3px #4E73DF solid !important;
}
.light-mode .border-green-3
{
    border:3px #1CC88A solid !important;
}
.light-mode .border-red-3
{
    border:3px #E74A3B solid !important;
}
.light-mode .border-blue-2
{
    border:2px #4E73DF solid !important;
}
.light-mode .border-green-2
{
    border:2px #1CC88A solid !important;
}
.light-mode .border-red-2
{
    border:2px #E74A3B solid !important;
}
.light-mode .border-gray-1
{
    border:1px #AFAFAF solid !important;
}

.light-mode .border-green-1
{
    border:3px #1CC88A solid !important;
}
.light-mode .border-blue-1
{
    border:2px #4E73DF solid !important;
}
.light-mode .border-red-1
{
    border:1px #E74A3B solid !important;
}

/*  ////////////////
/////// End Border Light  /////////
///////////////////////////
*/



.bar-blue
{
    background-color:#2da3fd;
    width:20%;
    height:2px;
}


.hover-card:active
{
    transform:scale(0.9);
}
.dark-mode .hover-card:hover
{
    box-shadow: #2D8DFD 1px 1px 4px 0px;
    transition:0.4s;
    transform:scale(1.01);
}

.light-mode .hover-card:hover
{
    box-shadow: #a0a0a090 1px 1px 4px 0px;
    transition:0.4s;
    transform:scale(1.01);
}

.press-active:active
{
    transform:scale(0.9);
}


.opacity-5
{
    opacity:0.5;
}

.hover-opacity-6:hover
{
    opacity:0.6;
}
.click-opacity:active
{
    opacity:0.6;
}
.pointer
{
    cursor: pointer;
}
.dark-mode .form-inp
{
    border:1px solid #BFC0C2;
    color:#BFC0C2;
    background-color: transparent;
}
.dark-mode .form-inp:focus
{
    border:1px solid #2D8DFD;
    color:#BFC0C2;
    background-color: transparent;
}

.dark-mode .form-inp-dark
{
    border:1px solid #181C2F;
    color:#181C2F;
    padding: 0.375rem 0.75rem;
    background-clip: padding-box;
    width: 100%;
    background-color: transparent;
}
.dark-mode .form-inp-dark:focus
{
    border:1px solid #2D8DFD;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}


.light-mode .form-inp
{
    border:1px solid #BFC0C2;
    color:#BFC0C2;
    background-color: transparent;
}
.light-mode .form-inp:focus
{
    border:1px solid #4E73DF;
    color:#BFC0C2;
    background-color: transparent;
}

.light-mode .form-inp-dark
{
    border:1px solid #181C2F;
    color:#181C2F;
    padding: 0.375rem 0.75rem;
    background-clip: padding-box;
    width: 100%;
    background-color: transparent;
}
.light-mode .form-inp-dark:focus
{
    border:1px solid #4E73DF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}


/* .dark-mode .form-inp-error:focus
{
    border:1px solid #FC2E7E !important;
    color:#BFC0C2;
    background-color: transparent;
} */
.corner-round
{
    border-radius:1rem;
}
.corner-round::before
{
    border-radius:1rem;
}
.corner-round-top
{
    border-radius:1rem 1rem 0 0;
}
.corner-round-top::before
{
    border-radius:1rem 1rem 0 0;
}
.corner-round-10
{
    border-radius:0.625rem;
}
.corner-round-20
{
    border-radius:1.25rem;
}
.hilang
{
    display:none;
}
.img-sumber
{
    width:100%;
    height:170px;
}
.img-content {
    position: relative; 
    background-color:#000000;
    align-items: center;
    justify-content: center;
    width:100%;
    height:auto;
}

.img-content::before {    
      content: "";
      background-image: url('http://localhost/govinsy/public/img/provinsi.png');
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.4;
}
.home-content {
    position: relative; 
    background-color:#000000;
    align-items: center;
    justify-content: center;
    width:100%;
    height:auto;
}

.home-content::before {    
      content: "";
      background-image: url('http://localhost/govinsy/public/img/logpic.png');
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}
.prov-back {
    position: relative; 
    background-color:#000000;
    align-items: center;
    justify-content: center;
    width:100%;
    height:auto;
}

.prov-back::before {    
      content: "";
      background-image: url('http://localhost/govinsy/public/img/provimg.jpg');
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}


.img-content h1 {
  position: relative;
  color: #ffffff;  
  text-align: center;
}
.close
{
    display: none;
}
.cov-icon
{
    display: inline-block;
    padding:1.1rem;
    text-align: center;
    font-size:2rem;
}
.cov-icon-circle-small
{
    display: inline-block;
    width:30px;
    height:30px;
    border-radius:50%;
    text-align: center;
    font-size:0.625rem;
}

.cov-icon-circle-vsmall
{
    display: inline-block;
    padding:5px;
    border-radius:50%;
    text-align: center;
    font-size:0.625rem;
}
.circle-shape
{
    width:20px;
    height:20px;
    border-radius:50%;
}

svg {
  max-width: 100% !important;
  height: auto;
  display: block;
}

.enabled:hover {
  fill: #2D8DFD !important;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.enabled {
  cursor: pointer;
}

.descriptions {
  pointer-events: none;
  position: fixed;
  padding: 20px 15px;
  z-index: 7687;
  height: auto;
  line-height: 30px;
  border-radius: 5px;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
  width:400px;
}
.dark-mode .descriptions
{
    background-color:#0B0F24;
}
.dark-mode .descriptions::after
{
border-top: 10px solid #0B0F24;
}

.light-mode .descriptions
{
    background-color:#EFF2F9;
}
.light-mode .descriptions::after
{
border-top: 10px solid #EFF2F9;
}

.descriptions.active {
  display: inline-block;
}
.descriptions:after {
  content: "";
  position: absolute;
  left: 47%;
  bottom: 0;
  width: 0;
  height: 0;
  margin: 0 0px -10px 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: scale(1.5);
}
.list-style-none li
{
    list-style: none;
}

#sample_image
{
    height:30rem;
}
#logo
{
    width:70%
}
#covid li
{
    list-style: none;
}
#survey img
{
    margin-top:-40px;
}
#daftar-provinsi button
{
    transition: 2s;
    rotate: 180;
}
#provinsi-toggle
{
    cursor:pointer;
}
#provinsi-toggle:hover
{
    opacity:0.7;
}
#survei-pertanyaan li,#survei-pertanyaan li label
{
    cursor: pointer;
}
#indikator-pertanyaan 
{
    position:relative;
}
#indikator-pertanyaan li
{ 
    list-style: none;
    width:15%;
    height:4px;
    border-radius:20px;
    float:left;
}
#map_spot {
    position: relative; 
    background-color:#000000;
    width:100%;
    height:200px;
}


/* #more
{
    display:none;
} */






@media (max-width: 768px) {
    .sidebar
    {
        height: 100%;
    }
    .dark-mode .topbar
    {
        background-color: #181C2F;
    }


    .cropper-container
    {
        width:80%;
    }
    .light-mode .topbar
    {
        background-color: white;
    }
    .close
    {
        display:block;
    }
    #logo
    {
      width:45%;
    }
    .sidebar
    {
        width:80%;
    }
    .sidebar .sidebar-brand 
    {
         margin-left:1rem;
    }
    .sidebar .nav-item .nav-link 
    {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem;
      width: 24rem;
      font-size: 1rem;
    }
    .sidebar .nav-item .nav-link i 
    {
      margin-right:1rem;
      margin-left:1rem;
      float:left;
      display: block;
    }
    .sidebar .nav-item .nav-link span
    {
      font-size: 1rem;
      display: block;
    }

}
